<div class="buttons-section">
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
</div>
