<div class="buttons-section">
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-regular-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-primary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
  <nj-button [isActive]="false" [disabled]="true"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
  <nj-button [isActive]="true" [disabled]="false"
             [text]="'Button text !'" [type]="'text-small-secondary'"></nj-button>
</div>
<div class="context-menu-section">
  <nj-context-menu [items]="contextMenuActionsEx1"></nj-context-menu>
  <nj-context-menu [items]="contextMenuActionsEx2"></nj-context-menu>
  <nj-context-menu [items]="contextMenuActionsEx3"></nj-context-menu>
</div>
<nj-personal-records [items]="personalRecords$ | async"></nj-personal-records>
