:host {
  background-color: #659dbd;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 0.5rem;
}

.buttons-section nj-button {
  margin-right: 1rem;
  align-self: flex-end;
}

.context-menu-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.context-menu-section nj-context-menu {
  margin-right: 1rem;
}
