<div class="table-options-buttons">
  <nj-button [type]="'text-regular-secondary'" [text]="'Add new Personal Record'"
             (click)="isAddFormVisible = true"></nj-button>
</div>
<pr-personal-records-table [personalRecords]="items" (personalRecordChanged)="personalRecordChanged.emit($event)"></pr-personal-records-table>
<nj-overlay (clickOutside)="this.isAddFormVisible = false" *ngIf="isAddFormVisible">
  <pr-add-personal-record-form (formSubmit)="onAddSubmit($event)"></pr-add-personal-record-form>
</nj-overlay>
