$add-new-personal-record-button-margin: 0 0 0.5rem 0.5rem;

:host {
  display: flex;
  flex-direction: column;
}

.table-options-buttons {
  display: flex;
  flex-direction: row;

  nj-button {
    margin: $add-new-personal-record-button-margin;
  }
}
